<% if assignment.course.user == current_user %>
  <ul class='button-group'>
    <li><%= link_to "Delete Element",
            element_path(element),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this element?' },
            class: 'button' %>
    </li>
  </ul>
<% end %>
