<div class='row'>
  <div class='large-3 columns'>
    <h3>FULL<br>LIST<br>OF<br>COURSES</h3>
  </div>

  <div class='large-9 columns'>
    <% @courses.each do |course| %>
      <h4>
        <%= link_to course.title, course_path(course), class: 'course-title' %>
      </h4>
      <span class: 'author'>by </span>
      <%= link_to course.user.name, user_path(course.user), class: 'username' %>
      <p>
        <%= course.description %>
      </p>
    <% end %>

    <%= link_to "ADD NEW COURSE", new_course_path, class: 'button' %>
  </div>
</div>
